# pyfogies test configuration
#
# Copy this file to secrets/pyfogies-tests.toml.

[aws]
# AWS profile name to use for tests, as defined in secrets/aws.toml.
profile = "pyfogies-test"
# AWS region in which to create test resources.
region = "us-west-2"

# Optional: provide a domain to enable a DNS-validated certificate used in testing.
# A hosted zone for this domain must already exist.
# [domain]
# zone_name = "example.com"
